{{/* Check for required arguments (src): */}}
{{ if not .src }}
  {{ errorf "Image Optimization: the partial 'utilities/image' is missing the 'src' argument." }}
{{ end }}

{{/* Get resource from page bundle or assets folder: */}}
{{ $resource := dict }}
{{ with resources.Get .src }}{{ $resource = . }}{{ end }}
{{ with page.Resources.Get .src }}{{ $resource = . }}{{ end }}

{{ $alt := default "" .alt }}
{{ $class := .class }}
{{ $sizes := .sizes }}
{{ $loading := default "lazy" .loading }}
{{ $decoding := default "async" .decoding }}
{{ $fetchpriority := .fetchpriority }}

{{ if $resource }}
  {{ $images := slice }}
  {{ $srcset := "" }}

  {{ if or (in .src "no-compression") (strings.HasSuffix (lower .src) ".gif") }}
    <img
      src="{{ $resource.Permalink }}"
      width="{{ $resource.Width }}"
      height="{{ $resource.Height }}"
      {{ with $class }}class="{{ . }}"{{ end }}
      alt="{{ $alt }}"
      loading="{{ $loading }}"
      decoding="{{ $decoding }}"
      {{ with $fetchpriority }}fetchpriority="{{ . }}"{{ end }}
    />
  {{ else }}
    {{/* Configure the image widths to be generated: */}}
    {{ $breakpoints := (slice 320 480 768 1024 1280 1600 1920) }}

    {{/* Generate the images: */}}
    {{ range $breakpoints }}
      {{ if (ge $resource.Width .) }}
        {{ $opts := (printf "%dx q95 webp" .) }}
        {{ $image := $resource.Resize $opts }}
        {{ $images = append $images (slice $image) }}
      {{ end }}
    {{ end }}

    {{/* Build the srcset only if we generated images */}}
    {{ $srcsetList := slice }}
    {{ range $images }}
      {{ $srcsetList = append $srcsetList (slice (printf "%s %dw" .Permalink .Width)) }}
    {{ end }}
    {{ $srcset = delimit $srcsetList ", " }}

    <img
      src="{{ $resource.Permalink }}"
      width="{{ $resource.Width }}"
      height="{{ $resource.Height }}"
      {{ with $srcset }}srcset="{{ . }}"{{ end }}
      {{ with $sizes }}sizes="{{ . }}"{{ end }}
      {{ with $class }}class="{{ . }}"{{ end }}
      alt="{{ $alt }}"
      loading="{{ $loading }}"
      decoding="{{ $decoding }}"
      {{ with $fetchpriority }}fetchpriority="{{ . }}"{{ end }}
    />
  {{ end }}
{{ else }}
  {{ warnf "Image Optimization: the image '%s' has not been found. (%s)" .src page }}
{{ end }}
